* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #211F20;
}

.butt {
    margin-bottom: 50px;
}

.cmd {
    display: flex;
    gap: 20px;

}

.cmd a {
    text-decoration: none;
    margin-left: 70px;
    color: #fff;
}

.nav h2 {
    color: #fff;
}


.texts {
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-top: 30px;
}

.texts h5 {
    padding-top: 70px;
}

.flexbox {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    max-width: 1200px;
    max-height: 500px;
    background-color: #4D4847;
    padding: 20px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto
}

.flexbox img {
    border-radius: 10px;
    width: 599px;
    height: 399px;
}

.flexbox button {
    width: 145px;
    height: 50px;
    background-color: #72A479;
    border-radius: 10px;
}

.flexbox a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    gap: 50px;
}